<h1>Avaliar Reserva</h1>

Nos ajude a melhorar o nosso atendimento contribuindo com sua nota para a avaliação de sua estadia.

<%= form_with model: [@reservation.room, @reservation, @rating], url: inn_room_reservation_ratings_path do |f| %>
  <%= f.hidden_field :room_id, value: @reservation.room_id %>
  <%= f.hidden_field :reservation_id, value: @reservation.id %>

  <div>
    <%= f.label :rating, 'Nota (de 0 a 5)' %>
    <%= f.number_field :rating, in: 0..5, step: 1 %>
  </div>

  <div>
    <%= f.label :review, 'Avaliação' %>
    <%= f.text_area :review %>
  </div>

  <div>
    <%= f.submit 'Enviar Avaliação' %>
  </div>
<% end %>
