<h1>Estadias Ativas</h1>

<% if @active_stays.present? %>
  <% @active_stays.each do |stay| %>
    <div>
      <p>Reserva: <%= stay.confirmation_code %></p>
      <p>Quarto: <%= stay.room.name %></p>
      <p>Número de Hóspedes: <%= stay.number_of_guests %></p>
      <p>Data de Entrada: <%= stay.start_date %></p>
      <p>Data de Saída: <%= stay.end_date %></p>    
      <%= link_to 'Finalizar Estadia', inn_room_reservation_finish_stay_path(stay.inn_id, stay.room_id, stay.id) %>
    </div>
  <% end %>
<% else %>
  <p>Não existem reservas ativas.</p>
<% end %>

<%= link_to 'Voltar', root_path %>