<h1>Estadias Ativas</h1>

<% @active_stays.each do |stay| %>
  <div>
    <p>Reserva: <%= stay.confirmation_code %></p>
    <p>Quarto: <%= stay.room.name %></p>
    <p>Data de Entrada: <%= stay.start_date %></p>
    <p>Data de Saída: <%= stay.end_date %></p>    
    <%= link_to 'Finalizar Estadia', finish_stay_inn_reservation_path(stay), method: :post %>
  </div>
<% end %>
