<h2>Minhas Reservas</h2>
<% @reservations.each do |reservation| %>
  <p>
    Pousada: <%= reservation.room.inn.brand_name %><br>
    Quarto: <%= reservation.room.name %><br>
    <% if reservation.start_date %>
      Data de Entrada: <%= reservation.start_date.strftime('%d/%m/%Y') %><br>
    <% end %>
    <% if reservation.end_date %>
      Data de Saída: <%= reservation.end_date.strftime('%d/%m/%Y') %><br>
    <% end %>
    Valor da Reserva: <%= number_to_currency(reservation.room.daily_rate) %><br>
  </p>
<% end %>

  </p>

<h2>Minhas Reservas</h2>
<% @my_stays.each do |reservation| %>
  <% if !reservation.active_stay && !reservation.rated? %>
    <p>
      Pousada: <%= reservation.room.inn.brand_name %><br>
      Quarto: <%= reservation.room.name %><br>
      Valor da Reserva: <%= number_to_currency(reservation.room.daily_rate) %><br>
      <%= link_to 'Avaliar Reserva', new_inn_room_reservation_rating_path(inn_id: reservation.inn_id, room_id: reservation.room_id, reservation_id: reservation.id) %>
    </p>
  <% end %>
<% end %>

<br>
<%= link_to 'Voltar à Página Inicial', root_path %>
