<h1>Estadias Ativas</h1>

<% if @my_stays.present? %>
  <% @my_stays.each do |stay| %>
    <div>
      <% reservation = Reservation.find_by(confirmation_code: stay.confirmation_code) %>
      <% full_reservation = Reservation.find(reservation.id) %>
      <p>Reserva: <%= stay.confirmation_code %></p>
      <p>Quarto: <%= stay.room.name %></p>
      <%= "Data de Entrada: #{full_reservation.attributes['start_date']}" %>
      <br>
      <%= "Data de Saída: #{full_reservation.attributes['end_date']}" %>
      <br>
      <%= "Número de Hóspedes: #{full_reservation.attributes['number_of_guests']}" %>  
      <%= button_to 'Finalizar Estadia', inn_room_reservation_finish_stay_path(@inn, full_reservation.room, full_reservation) %>
      </div>
  <% end %>
<% else %>
  <p>Não existem reservas ativas.</p>
<% end %>
<br>
<%= link_to 'Voltar', root_path %>
