<h1>Adicionar Preço Personalizado</h1>

<%= form_for [@room.inn, @room, @price] do |f| %>
<%= f.hidden_field :room_id, value: @room.id %>
  <div class="field">
    <%= f.label :start_date %>
    <%= f.date_field :start_date %>
  </div>

  <div class="field">
    <%= f.label :end_date %>
    <%= f.date_field :end_date %>
  </div>

  <div class="field">
    <%= f.label :daily_rate %>
    <%= f.number_field :daily_rate %>
  </div>

  <div class="actions">
    <%= f.submit 'Salvar' %>
  </div>
<% end %>

<%= link_to 'Voltar para a sala', root_path %>