<!DOCTYPE html>
<html>
  <head>
    <title>ProjetoPousadaOnrails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <header>
      <div>
        <%= alert %>
        <%= notice %>
      </div>
      <div> 
        <% if user_signed_in? %>
          Bem vindo Proprietário: <%= current_user.email %>
          <br>
          <% if current_user.has_inn? %>
            <li><strong><%= link_to 'Reservas Cadastradas', inn_my_stays_path(current_user.inn) %></strong></li>
            <li><strong><%= link_to 'Estadias Ativas', inn_my_active_stays_path(current_user.inn) %></strong></li>
          <% end %>
          <br>
          <%= button_to 'Sair', destroy_user_session_path, method: :delete %>
          <br>
          <% unless current_user.has_inn? %>
           <%= link_to 'Cadastrar Pousada', new_inn_path %>
           <br><br>
          <% end %>
        <% else %>
          <%= link_to 'Faça o Login Proprietário', new_user_session_path %> 
          <br>
          <%= link_to 'Crie uma conta como Proprietário', new_user_registration_path %> 
          <br><br>   
        <% end %>
        <br>

        <% if guest_signed_in? %>
        Bem vindo Hóspede: <%= current_guest.email %>
        <br>        
        <li><strong><%= link_to 'Suas reservas cadastradas', my_reservations_path %></strong></li>
        <br>
        <%= button_to 'Sair', destroy_guest_session_path, method: :delete %>
        <br>
        <% else %>
          <%= link_to 'Faça o Login Hóspede', new_guest_session_path %>
          <br>
          <%= link_to 'Crie uma conta como Hóspede', new_guest_registration_path %>
          <br><br>
        <% end %>

      </div>
      <div id="search-form">
        <%= form_tag(search_results_path, method: :get) do %>
          <%= text_field_tag :search_term, params[:search_term], placeholder: 'Buscar pousadas...' %>
          <%= submit_tag 'Buscar' %>
        <% end %>
      </div>
    </header>
    
    <main>     
     <%= yield %>
    </main>
    <footer>
    <p>qualquer dúvida favor entrar em contato pelo contato: contato_comigomesmo@outlook.com </p>    
    </footer>
  </body>
</html>
